<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="UASPPL_3A_230309006" verbose="1">
    <test name="Demoblaze_Test_Cases">
        <classes>
            <class name="com.praktikum.testing.otomation.tests.DemoblazeTestCases"/>
        </classes>
    </test>
</suite>